body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arial: Arial;
  --font-inter: Inter;
  --font-times-new-roman: "Times New Roman";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0);

  /* Paddings */
  --padding-3xs: 10px;
  --padding-43xl: 62px;
  --padding-xs: 12px;
  --padding-13xl: 32px;
}





.logo-tsdw-1 {
  position: absolute;
  top: 20px;
  left: calc(50% - 45.5px);
  width: 91.08px;
  height: 64px;
  object-fit: cover;
}
.regd-no,
.tcet-student-development {
  position: absolute;
  font-family: var(--font-times-new-roman);
}
.tcet-student-development {
  top: 76px;
  left: calc(50% - 357.5px);
  font-size: 22px;
  text-align: center;
  display: inline-block;
  width: 715px;
}
.regd-no {
  top: 109px;
  left: calc(50% - 81.5px);
  font-size: var(--font-size-xs);
}
.name-,
.receipt-no- {
  position: absolute;
  top: 159px;
  left: calc(50% - 335.5px);
}
.name- {
  top: 197px;
}
.branch-,
.cashchequedd-no-,
.dated-,
.signature {
  position: absolute;
  top: 235px;
  left: calc(50% - 335.5px);
}
.cashchequedd-no-,
.dated-,
.signature {
  top: 637px;
}
.dated-,
.signature {
  top: 675px;
}
.signature {
  top: 779px;
  left: calc(50% + 211.5px);
  text-align: center;
}
.div,
.drawn-on-bank- {
  position: absolute;
  top: 754px;
  left: calc(50% + 156.5px);
}
.drawn-on-bank- {
  top: 675px;
  left: calc(50% - 90.5px);
}
.rupees-one-thousand {
  text-decoration: underline;
}
.amount-in-words-container,
.date-,
.roll-no- {
  position: absolute;
  top: 599px;
  left: calc(50% - 335.5px);
}
.date-,
.roll-no- {
  top: 235px;
  left: calc(50% + 88.5px);
}
.date- {
  top: 159px;
  left: calc(50% + 99.5px);
}
.text {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
}
.content {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.cell {
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 437px;
  flex-direction: column;
}
.cell,
.cell1,
.row {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell1 {
  flex: 1;
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-arial);
}
.row {
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: row;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.membership {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.content2,
.content5 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
}
.content2 {
  display: flex;
  padding: var(--padding-3xs) var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  padding: var(--padding-3xs) var(--padding-43xl) var(--padding-3xs)
    var(--padding-xs);
}
.cell3,
.content5,
.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cell3 {
  align-self: stretch;
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 150px;
  flex-direction: column;
  text-align: right;
}
.row1 {
  background-color: var(--color-gray);
  height: 180px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.cell5,
.content8,
.row1 {
  align-self: stretch;
}
.content8 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 36px var(--padding-3xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.cell5 {
  flex: 1;
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  flex-direction: column;
}
.cell5,
.row2,
.table,
.table-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.row2 {
  align-self: stretch;
  background-color: var(--color-gray);
  overflow: hidden;
  flex-direction: row;
  text-align: right;
}
.table,
.table-1 {
  flex-direction: column;
}
.table {
  border-radius: 4px;
  border: 1px solid var(--color-black);
  overflow: hidden;
}
.table-1 {
  position: absolute;
  top: 292px;
  left: calc(50% - 293.5px);
}
.disclaimer-the {
  position: relative;
  top: 851px;
  margin: auto auto;
  font-size: 14px;
  text-align: justify;
  width: 671px;
}
.tsdw-receipt {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 930.49px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-arial);
}